<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductLabel
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productlabel>
            <general>
                <enable>1</enable>
                <width>60</width>
            </general>
            <out_of_stock>
                <enable>1</enable>
            </out_of_stock>
            <new>
                <enable>1</enable>
                <number_input>0</number_input>
            </new>
            <sale>
                <enable>1</enable>
                <enable_special_price>1</enable_special_price>
            </sale>
        </productlabel>
    </default>
</config>